.item-image-container {
  width: 25vw;
  height: 25vh;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.create-new-item-button {
  float: right;
}

.free-style {
  display: flex;
  justify-content: space-between;
}

.layout {
  width: 90%;
  margin: 30px auto 0;
}
.sidebar {
  display: flex;
  align-items: baseline;
}

.sidebar label {
  margin-right: 1em;
}
