.item-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin:0 auto
}

.form-field {
margin-top:20px;
font-family: 'Oswald', sans-serif;
}

.button-container {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  width:15%;
  margin: 25px auto;
  border-radius: 8px;
  background-color: darksalmon;
  color: black;
  font-family: 'Oswald', sans-serif;
}

input[type=text] {
  width:100%;
  border-radius: 8px;
  border-color: darksalmon ;
}
input[type=number] {
  width:100%;
  border-radius: 8px;
  border-color: darksalmon ;
}

input[type=text]:focus {
  background-color:#d9d7d7;
}

input[type=number]:focus {
  background-color:#d9d7d7;
}